<template>
  <div class="wrapper">
    {{kebabCase feature}}
  </div>
</template>

<script>
  export default { name: '{{pascalCase feature}}Presentation', props: {} }
</script>

<style scoped>
  .wrapper { padding: 16px; }
</style>